include includes/header
main
    article
        h2 What is this?

            p Creepin' on Colleagues is a toy app that allows Treehouse students to "creep" on each other's progress though the Treehouse curriculum. 

            p To use it, simply enter a Treehouse student's Treehouse username. The students stats will load.

        h2 Issues
            p Please report any issues on the 
            a(href="https://github.com/julianjohannesen/creepin-on-colleagues/issues" title="repo's issues page")
            | repo's issues page
            | .
        
        h2 Dev notes

            p Creepin' on Colleagues is a Node.js app built with Express.js and serving a static front-end. In fact, at present, there aren't any scripts running on the client-side.

            p The request to Treehouse for student profile data is handled server-side, which is not typical and adds additional overhead to the server. The reason for requesting data server-side was to demonstrate how that might be done. Ordinarily, the request would be made client-side, sparing the server the work.

            p The app is deployed on Heroku. 
include includes/footer