extends layout
    block content
        form(action = "/", method = "POST")
            div
                label(for = "username") Username:
                input(name = "username" type = "text" value = "")
            br
            button(type = "submit") Creep