html
html
    head
        title Form Tester
    body
        form(action = "/", method = "POST")
            div
                label(for = "username") Username:
                input(name = "username" type = "text" value = "")
            br
            button(type = "submit") Submit