doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= title
        meta(name="description" content="Are you a Treehouse student who like to creep? Welcome home.")
        meta(name="keywords" content="Treehouse metrics analytics points badges progress students courses classes")
        meta(name="author" content="Julian Johannesen.")
        meta(property="og:image" content="")
        meta(property="og:description" content="Creepin' on Colleagues is a toy app built so that Treehouse students can view each other's metrics: points, badges, etc..")
        meta(property="og:title" content="Creepin' on Colleagues")
        link(rel="favicon" href="../public/favicon.ico")
        link(rel='stylesheet' href='/stylesheets/style.css')
    body
        block content