extends layout

block content
    div
        p(class="name") #{profile.name} has #{profile.points.total} total points and #{profile.badges.length} badges.
        //- Add a recent searches feature using cookies
