@import url(../fonts/Roboto-Regular.ttf);
@import url(../fonts/Roboto-Bold.ttf);

/*---------- PAGE ----------*/

body {
    font-size: 3vw;
    font-family: Roboto, sans-serif; 
    letter-spacing: 0.2pt;
    background-color: darkslategrey;
    color: whitesmoke;
  }
  
  a {
    color: #00B7FF;
  }

  h1 {
    font-family: Roboto, sans-serif;
    letter-spacing: normal;
    font-size: 5vw;
  }

  div.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;

  }

  /*---------- FORM ----------*/

  #username-form {
    display: flex;  
  }

  #username-form input {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 1vw 2vw;
    font-size: 3vw;
    border-right: none;
    max-width: 40vw;
  }

  #username-form button { 
    border-left-width: 0;
    font-size: 3vw;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-style: inset;
    background-color: white;
    cursor: pointer;
  }

  #username-form svg {
    min-width: 8vw;
    max-width: 10vw;
    margin: 1vw;
  }

  /*---------- ERROR PAGE ----------*/

  div.error {
    margin: 0 auto;
    width: 95vh;
    font-size: .5em;
    word-wrap: wrap;
  }

  /*---------- PROFILE PAGE  ----------*/

  div.profile {
    padding: 2vw;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 90vw;
  }

  div.profile li {
    list-style-type: none;
    font-size: 0.5em;
    padding: 1vw;
    border: 1px solid whitesmoke;
    margin: 1vw;
    width: 24.3vw;
    height: 4vw;
    background-color: white;
    color: darkslategray;
  }

  ul#points li {
    width: 39vw;
    height: 4vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  /* SCORE */

  span.topic {
    font-size: 150%;
  }

  span.score {
    font-size: 200%;
  }
