body {
    padding: 50px;
    font: 28px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: darkslategrey;
    color: whitesmoke;
  }
  
  a {
    color: #00B7FF;
  }

  div.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  #username-form {
    display: flex;  
  }

  #username-form input {
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    padding: 0.75em;
    font-size: 1.5em;
    border-right: none;
  }

  #username-form button { 
    border-left-width: 0;
    font-size: 1.5em;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    border-style: inset;
    background-color: white;
  }

  #username-form svg {
    min-width: 5vw;
    max-width: 10vw;
  }